@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Work+Sans:wght@300;500;900&display=swap');

$black: rgba(0,0,0,1);
$white: rgba(255,255,255,1);
$container-width: 1280px;
$container-width-small: 800px;
$theme-red: #680c07;
$theme-green: #Bee5B0;

body {
    // &:before {
    //     content: '';
    //     position: fixed;
    //     top:0;
    //     bottom:0;
    //     background-color: $theme-red;
    //     width: 30%;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     pointer-events: none;
    // }
}

h1, h2 {
    font-family: 'Work Sans';
    font-size: 52px;
    line-height: 54px;
    font-weight: 900;
}
h3 {
    font-family: 'Work Sans';
    font-size: 32px;
    line-height: 34px;
    font-weight: 500;
}
h4 {
    font-family: 'PT Sans Narrow';
    font-size: 34px;
    line-height: 48px;
}
p {
    font-family: 'PT Sans Narrow';
    font-size: 16px;
    line-height: 18px;
}
.btn, .wpcf7-submit {
    display: inline-block;
    border-radius: 7px;
    font-family: 'Work Sans';
    font-size: 14px;
    line-height: 50px;
    font-weight: 900;
    text-decoration: none;
    color: $black;
    text-transform: uppercase;
    position: relative;
    left: 25px;
    transition: all 0.3s ease-in-out;
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        left: -25px;
        right: auto;
        width: 48px;
        height: 48px;
        display: inline-block;
        border-top: 2px solid $black;
        border-left: 2px solid $black;
        border-bottom: 2px solid $black;
        border-right: 2px solid transparent;
        border-radius:30px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        transition: width 0.3s ease-in-out 0.15s, right 0.3s ease-in-out 0.3s, border-top-right-radius 0.3s ease-in-out, border-bottom-right-radius 0.3s ease-in-out, border-right 0.15s ease-in-out;
    }
    &:hover {
        &:before {
            width: #{calc(100% + 50px)};
            right: -25px;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            border-right: 2px solid $black;
            transition: width 0.3s ease-in-out, right 0.3s ease-in-out, border-top-right-radius 0.3s ease-in-out 0.15s, border-bottom-right-radius 0.3s ease-in-out 0.15s, border-right 0.15s ease-in-out 0.3s;
        }
        & + .sidetext {
            margin-left: 65px!important;
            transition: all 0.3s ease-in-out;
        }
    }

}
body {
    overflow-x: hidden;
}
#header {
    position: fixed;
    left:0;
    right:0;
    top:0;
    height: 75px;
    z-index: 9;
    background-color: transparant;
    transition: all 0.3s ease-in-out;
    #branding {
        display: none;
    }
    .nav-holder {
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        .logo {
            margin-right: 25px;
            display: flex;
            align-items: center;
            img {
                width: auto;
                height: 75px;
            }
        }
        .hamburger {
            height: 35px;
            width: 45px;
            position: absolute;
            right: 15px;
            z-index: 9;
            top: 30px;
            cursor:pointer;
            span {
                display: inline-block;
                height: 7px;
                width: 45px;
                position: relative;
                background-color: $black;
                border:2px solid $white;
                transition: all 0.3s ease-in-out;
                &:before {
                    display:inline-block;
                    content: '';
                    height: 3px;
                    width: 41px;
                    background-color: $black;
                    border:2px solid $white;
                    position: absolute;
                    top: -14px;
                    left:-2px;
                }
                &:after {
                    display: inline-block;
                    content: '';
                    height: 3px;
                    width: 41px;
                    background-color: $black;
                    border:2px solid $white;
                    position: absolute;
                    top: 10px;
                    left:-2px;
                }
            }
        }
        #menu {
            position: fixed;
            z-index: 999;
            top:0;
            right:0;
            bottom:0;
            left:100%;
            pointer-events:none;
            transition: all 0.3s ease-in-out 0.3s;
            background-color: $black;
            .menu {
                display: flex;
                    li {
                        margin-right: 30px;
                        a {
                            display: inline-block;
                            font-size: 21px;
                            line-height: 75px;
                            color: $white;
                            font-family: 'Work Sans', sans-serif;
                            font-weight: 900;
                            text-decoration: none;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                    }
            }
            #search {
                display: none;
            }
            .close {
                height: 35px;
                width: 45px;
                position: absolute;
                right: -100px;
                z-index: 9;
                top: 30px;
                cursor:pointer;
                transition: all 0.3s ease-in-out;
                span {
                    position: relative;
                    display: inline-block;
                    height: 5px;
                    width: 45px;
                    transition: all 0.3s ease-in-out;
                    &:before {
                        display:inline-block;
                        content: '';
                        height: 4px;
                        width: 45px;
                        background-color: $white;
                        position: absolute;
                        top: 0;
                        transform: rotate(45deg);
                    }
                    &:after {
                        display: inline-block;
                        content: '';
                        height: 4px;
                        width: 45px;
                        background-color: $white;
                        position: absolute;
                        top: 0;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
        &.open-nav {
            #menu {
                pointer-events: visible;
                left: 0;
                transition: all 0.3s ease-in-out;
                .close {
                    right: 15px;
                    transition: all 0.3s ease-in-out 0.3s;
                }
            }
        }
    }
}
#container {
    main {
        article {
            .header {
                display: none;
            }
        }
    }
    aside {
        display: none;
    }
}
.entry-content {
    padding: 0 15px;
    & > img.attachment-full {
        display: none!important;
    }
    .container {
        max-width: $container-width;
        margin: 0 auto;
        &.small {
            max-width: $container-width-small;
        }
        &.centred {
            * {
                text-align: center!important;
            }
        }
    }
}

.section {
    padding: 60px 0;
}
.section-image {
    &.for-canvas {
        padding: 0;
        margin-top: -120px;
        & > div > div {
            padding-top:0!important;
        }
        .container {
            max-width: 100%;
            img {
                width:1440px;
            }
            &.button-container {
                margin-top: 60px;
                .wpb_column {
                    p {
                        text-align: center;
                        a.btn {
                            font-size: 18px;
                            line-height: 75px;
                            &:before {
                                height: 73px;
                            }
                        }
                    }
                    &:last-child {
                        a.btn {
                            color: $white;
                            &:before {
                                width: #{calc(100% + 50px)};
                                background-color: $black;
                                border: 1px solid $black;
                                border-radius: 30px;
                                transition: all 0.3s ease!important;
                            }
                            &:hover {
                                color: $black;
                                &:before {
                                    background-color: $white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.section-intro {
    &.section-video {
        position: relative;
        .sidetext {
            margin-left: 40px;
            font-family: 'Work Sans';
            font-size: 14px;
            font-weight: 900;
            text-transform: uppercase;
            transition: all 0.3s ease-in-out 0.15s;
        }
        .vc_video-bg::before {
            content: '';
            position: absolute;
            left:0;
            right:0;
            top:0;
            bottom:0;
            background-color:rgba(255,255,255,0.95);
        }
        .vc_video-bg::after {
            content: '';
            position: absolute;
            left:0;
            right:0;
            bottom:0;
            height: 150px;
            background: linear-gradient(transparent, white);
        }
        .container {
            display: flex;
            justify-content: space-between;
            .title-column {

            }
            .text-column {
                display: flex;
                align-items:center;
                justify-content: center;
                max-width: 350px;
            }
        }
        .scale-crown {
            transform: rotate(24deg) scale(1, 1);
        }
    }
}

.section-portfolio {
    position: relative;
    .portfolio-title {
        position: absolute;
        top: 390px;
        left: 0;
        transform: translateX(-59%) rotate(90deg);
        h2 {
            font-size: 104px;
            color: $black;
            display: flex;
            span {
                font-size: 104px;
                color: $black;
                position: relative;
                bottom: -75px;
                transition: all 0.3s ease 0.15s;
                &.show {
                    bottom: 0;
                }
            }
        }
    }
    .left-portfolio-side {
        position: static;
        & > div {
            position: static;
            & > div {
                position: static;
            }
        }
    }
    .left-portfolio-side, .right-portfolio-side {
        & > div {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .scratch-title {
        position: absolute;
        bottom: -120px;
        pointer-events: none;
        background-color: $white;
        padding-top: 90px;
        padding-bottom: 60px;
        margin-bottom: 0;
        h2 {
            width: 49%;
            font-size: 142px;
            line-height: 116px;
            font-weight: normal;
            font-family: 'PT Sans Narrow';
            span {
                position: relative;
                left: -200%;
                transition: all 0.3s ease-in-out;
                &.swipe-in {
                    left: 0;
                }
                strong {
                    font-family: 'Work Sans';
                    font-weight: 900;
                    position: relative;
                    top: 6px;
                    font-size: 130px;
                    margin-left: -75px;
                }
            }
        }
    }
    .vc_grid-container {
        .vc_pageable-slide-wrapper {
            .vc_grid-item {
                transform: scale(0,0);
                transform-origin: center;
                transition: all 0.3s ease;
                &.show-grid-item {
                    transform: scale(1,1);
                }
                .vc_grid-item-mini {
                    position: relative;
                    box-shadow: 0 0 15px rgba(0,0,0,0);
                    transition: all 0.3s ease-in-out;
                    .vc_gitem-zone-a {
                        transition: all 0.3s ease-in-out;
                        background-size: 100%;
                    }
                    .vc_gitem-zone-c {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right:0;
                        left:0;
                        padding: 30px;
                        background-color: transparent!important;
                        .vc_col-sm-12.vc_gitem-col.vc_gitem-col-align- {
                            position: static;
                            .vc_gitem-post-data-source-post_categories {
                                position: absolute;
                                bottom: -100px;
                                opacity: 0;
                                transition: all 0.3s ease-in-out;
                                transition-delay: 0s;
                                background-color: $black;
                                left: 50%;
                                transform: translateX(-50%);
                                border-radius: 7px;
                                padding: 0 10px;
                                &:before {
                                    content: '';
                                    position: absolute;
                                    width: 15px;
                                    height: 15px;
                                    background-color: $black;
                                    left: 50%;
                                    transform: translate(-50%, -50%) rotate(45deg);
                                }
                                & > div {
                                    margin-right: 10px;
                                    height: 30px;
                                    display: inline-flex;
                                    align-items: center;
                                    span {
                                        font-size: 14px;
                                        font-family: 'Work Sans';
                                        display: inline-block;
                                        line-height: 14px;
                                        color: $white;
                                        padding-right: 10px;
                                        border-right: 2px solid $white;
                                    }
                                    &:last-child {
                                        margin-right: 0;
                                        span {
                                            padding-right: 0;
                                            border-right: none;
                                        }
                                    }
                                }
                            }
                        }
                        &:before {
                            content: '';
                            position: absolute;
                            top: 200px;
                            bottom: 200px;
                            right: 200px;
                            left: 200px;
                            background-color: rgba($white, 0)!important;
                            transition: all 0.3s ease-in-out;
                        }
                        h4 {
                            position: relative;
                            font-family: 'Work Sans';
                            font-size: 36px;
                            line-height: 36px;
                            font-weight: 900;
                            color: $black;
                            opacity:0;
                            transition: opacity 0.15s ease-in-out;
                        }
                        p, .vc_gitem-post-meta-field-beschrijving {
                            position: relative;
                            color: $black;
                            font-size: 21px;
                            transition: opacity 0.15s ease-in-out;
                            opacity:0;
                            font-family: 'PT Sans Narrow';
                            font-size: 16px;
                            line-height: 18px;
                        }
                        .vc_btn3-container {
                            display: none;
                        }
                    }
                }
                &:hover {
                    transform: scale(1.1,1.1);
                    .vc_grid-item-mini {
                        box-shadow: 0 0 15px 1px rgba(0,0,0,0.15);
                        .vc_gitem-zone-a {
                            background-size: 110%;
                        }
                        .vc_gitem-zone-c {
                            background-color: rgba($white, 0%)!important;
                            .vc_col-sm-12.vc_gitem-col.vc_gitem-col-align- {
                                .vc_gitem-post-data-source-post_categories {
                                    transition-delay: 0.45s;
                                    bottom: 0;
                                    opacity: 1;
                                }
                            }
                            &:before {
                                top: 0;
                                bottom: 0;
                                right:0;
                                left:0;
                                background-color: rgba($white, 0.6)!important;
                            }
                            h4 {
                                opacity: 1;
                                transition: opacity 0.3s ease-in-out 0.3s;
                            }
                            p, .vc_gitem-post-meta-field-beschrijving {
                                opacity: 1;
                                transition: opacity 0.3s ease-in-out 0.3s;
                            }
                        }
                    }
                }
            }
        }
    }
}

.section-about {
    height: 500px;
    position: relative;
    &#scratch-container {
        max-width: 1260px;
        margin: 60px auto;
        margin-bottom: 120px;
        margin-top: 120px;
        & > .vc_video-bg {
            border-radius: 50px;
        }
        & > .vc_column_container {
            position: static;
            & > .vc_column-inner  {
                position: static;
               & > .wpb_wrapper {
                    position: static;
                    .wpb_raw_code {
                        .wpb_wrapper {
                            
                        }
                    }
               }
            }
        }
    }
    canvas {
        position: absolute;
        left:-10px;
        right:0;
        top:-10px;
        bottom:0;
        z-index: 1;
        border: 10px solid $black;
        border-radius: 50px;
        cursor: move;
    }
    .container {
        .intro-title {
            pointer-events:none;
            h2, h3 {
                color: $white;
            }
            h3 {
                font-family: 'PT Sans Narrow';
            }
        }
        &.button-container {
            position: absolute;
            bottom: -190px;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
            .wpb_column {
                p {
                    text-align: center;
                    a.btn {
                        font-size: 18px;
                        line-height: 75px;
                        &:before {
                            height: 73px;
                        }
                    }
                }
                &:last-child {
                    a.btn {
                        color: $white;
                        &:before {
                            width: #{calc(100% + 50px)};
                            background-color: $black;
                            border: 1px solid $black;
                            border-radius: 30px;
                            transition: all 0.3s ease!important;
                        }
                        &:hover {
                            color: $black;
                            &:before {
                                background-color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
}

.section-cool-filler {
    margin-top: 60px;
    height: 100vh;
    overflow: hidden;
    h2 {
        color: $white;
        font-size: 118px;
        line-height: 118px;
        margin-bottom: 5px;
        position: relative;
        top:15px;
        display: inline-block;
        left: 0;
        white-space: nowrap;
        &:nth-child(2n+2) {
            text-align: right;
            left: 35%;
            transform: translateX(-50%);
        }
    }
}

.section-workflow {
    padding-top: 180px;
    .container {
        &.text-container {
            position: relative;
            top: -120px;
        }
        .step-column {
            padding-bottom: 30px;
            position: relative;
            svg {
                font-family: FontAwesome;
                position: absolute;
                display: inline-block;
                top: 50%;
                transform: translateY(-50%);
                width: 40px;
                height: 40px;
                line-height: 40px;
                border: 5px solid $black;
                text-align: center;
                color: $black!important;
                padding: 8px;
                border-radius: 50%;
            }
            &:before {
                content: '';
                position: absolute;
                display: inline-block;
                top: 50%;
                transform: translateY(-50%);
                width: 40px;
                height: 5px;
                line-height: 40px;
                background-color: $black;
            }
            & > div {
                & > div {
                    border: 10px solid $black;
                    border-radius: 50px;
                    padding: 30px;
                    .subtitle {
                        margin-bottom: 10px;
                        h4 {
                            font-size: 24px;
                            line-height: 26px;
                        }
                    }
                    &:before {
                        content: '';
                    }
                }
            }
            &.left {
                position: relative;
                top: -90px;
                border-right: 10px solid $black;
                & > div {
                    &:after {
                        right: 90px;
                    }
                }
                &:before {
                    right: 0;
                }
                svg {
                    right: 40px;
                }
                & > div {
                    padding-right: 120px;
                }
            }
            &.right {
                svg {
                    left: 40px;
                }
                & > div {
                    padding-left: 120px;
                
                }
            }
            &.step1 {
                padding-bottom: 90px;
            }
            &.step2 {
                
            }
            &.step3 {
                
            }
            &.step4 {
                
            }
        }
        &.last-step {
            .step-column {
                &.left {
                    padding-bottom: 90px;
                }
            }
        }
    }
}

.section-detail {
    .container {
        &.container-detail {
            display: flex;
            flex-wrap:wrap;
            align-items: center;
            .client-title {
                h2 {
                    margin-bottom: 15px;
                    
                }
                h1 {
                    font-family: 'PT Sans Narrow';
                    font-size: 34px;
                    line-height: 36px;
                    font-weight: normal;
                }
            }
            .client-description {

            }
        }
    }
}

.section-cta {
    background-color: $black;
    .slick-list {
        overflow: visible;
    }
    .container {
        padding: 60px;
        h1,h2,h3,h4,h5,h6,p,a {
            color: $white;
        }
        a.btn {
            &:before {
                border-top: 2px solid $white;
                border-left: 2px solid $white;
                border-bottom: 2px solid $white;
                z-index:1;
            }
            &:hover {
                &:before {
                    border-right: 2px solid $white;
                }
            }
        }
        &.slick-container {
            max-width: 100%;
            position: relative;
            .content {

            }
            .image {
                position: absolute;
                top: -60px;
                bottom: -60px;
                right: -15px;
                & > div {
                    background-size: cover;
                    background-position: center;
                }
            }
            &.slick-slide {
                transition: all 0.3s ease-in-out;
                opacity: 0;
                &.slick-active {
                    opacity: 1;
                }
            }
        }
    }
}
span.white {
    color: $white;
}
.section-content {
    margin-bottom: 60px;
    position: relative;
    .container {
        .special-title.king {
            h2 {
                color: $white;
                span {
                    position: relative;
                    display: inline-block;
                    font-size: 126px;
                    margin-top: 50px;
                    margin-bottom: 40px;
                    img {
                        position: absolute;
                        width: 100px;
                        height: auto;
                        left: -52px;
                        top: -100vh;
                        opacity: 0;
                        transform: rotate(1400deg);
                        transition: opacity 0.15s ease, top 0.9s ease 0.15s, left 0.9s ease 0.15s, transform 0.9s ease 0.15s;
                        &.show-crown {
                            opacity: 1;
                            left: -55px;
                            top: -51px;
                            transform: rotate(-51deg);
                        }
                    }
                }
            }
        }
    }
    & + .section-content {
        margin-top: -90px;
    }
}

.section-contact {
    overflow:hidden;
    position: relative;
    .container {
        form {
            .contactform {
                max-width: 800px;
                margin: 0 auto;
                padding: 60px 15px 0 15px;
                .field {
                    position: relative;
                    h4 {
                        margin-bottom: 15px;
                    }
                    input {
                        width: 100%;
                        border: 1px solid $black;
                        border-radius: 7px;
                        height: 50px;
                        line-height: 50px;
                        margin-bottom: 30px;
                    }
                    textarea {
                        width: 100%;
                        border: 1px solid $black;
                        border-radius: 7px;
                        margin-bottom: 30px;
                    }
                }
                .submit {
                    .wpcf7-submit {
                        background-color: $theme-green;
                        border-radius: 7px!important;
                        padding: 0 20px;
                        box-shadow: none;
                        left: 0;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .background-contact {
        .cloud-holder {
            position: absolute;
            top: 0;
            display: flex;
            img {
                max-width: 250px;
                margin-right: 200px;
                opacity: 0.5;
                &:nth-child(2n+1) {
                    opacity: 0.75
                }
            }
            &:last-child {
                z-index: 9;
                left: -250px;
                top: 174px;
                img {
                    opacity: 0.75;
                    &:nth-child(2n+1) {
                        opacity: 0.95
                    }
                }
            }
        }
        .plane-holder {
            display: flex;
            position: relative;
            transform: rotateZ(-180deg) rotateX(180deg);
            transform-origin: left;
            &:after {
                background-color: $black;
                content: '';
                height: 12px;
                width: 125px;
                position: absolute;
                left: 330px;
                top: 50%;
                transform: translate(-50%);
                right: 0;
                border-radius: 100px;
            }
            img {
                max-width: 100px;
                margin-right:100px;
                &:first-child {
                    max-width: 300px;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
            &.turn {
                transform: rotateZ(180deg) rotateY(180deg) rotateX(-180deg) translateX(-500px);
            }
        }
    }
}