@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Work+Sans:wght@300;500;900&display=swap');
h1, h2 {
  font-family: 'Work Sans';
  font-size: 52px;
  line-height: 54px;
  font-weight: 900;
}
h3 {
  font-family: 'Work Sans';
  font-size: 32px;
  line-height: 34px;
  font-weight: 500;
}
h4 {
  font-family: 'PT Sans Narrow';
  font-size: 34px;
  line-height: 48px;
}
p {
  font-family: 'PT Sans Narrow';
  font-size: 16px;
  line-height: 18px;
}
.btn, .wpcf7-submit {
  display: inline-block;
  border-radius: 7px;
  font-family: 'Work Sans';
  font-size: 14px;
  line-height: 50px;
  font-weight: 900;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  position: relative;
  left: 25px;
  transition: all 0.3s ease-in-out;
}
.btn:before, .wpcf7-submit:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: -25px;
  right: auto;
  width: 48px;
  height: 48px;
  display: inline-block;
  border-top: 2px solid rgba(0, 0, 0, 1);
  border-left: 2px solid rgba(0, 0, 0, 1);
  border-bottom: 2px solid rgba(0, 0, 0, 1);
  border-right: 2px solid transparent;
  border-radius: 30px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: width 0.3s ease-in-out 0.15s, right 0.3s ease-in-out 0.3s, border-top-right-radius 0.3s ease-in-out, border-bottom-right-radius 0.3s ease-in-out, border-right 0.15s ease-in-out;
}
.btn:hover:before, .wpcf7-submit:hover:before {
  width: calc(100% + 50px);
  right: -25px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-right: 2px solid rgba(0, 0, 0, 1);
  transition: width 0.3s ease-in-out, right 0.3s ease-in-out, border-top-right-radius 0.3s ease-in-out 0.15s, border-bottom-right-radius 0.3s ease-in-out 0.15s, border-right 0.15s ease-in-out 0.3s;
}
.btn:hover + .sidetext, .wpcf7-submit:hover + .sidetext {
  margin-left: 65px !important;
  transition: all 0.3s ease-in-out;
}
body {
  overflow-x: hidden;
}
#header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 75px;
  z-index: 9;
  background-color: transparant;
  transition: all 0.3s ease-in-out;
}
#header #branding {
  display: none;
}
#header .nav-holder {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}
#header .nav-holder .logo {
  margin-right: 25px;
  display: flex;
  align-items: center;
}
#header .nav-holder .logo img {
  width: auto;
  height: 75px;
}
#header .nav-holder .hamburger {
  height: 35px;
  width: 45px;
  position: absolute;
  right: 15px;
  z-index: 9;
  top: 30px;
  cursor: pointer;
}
#header .nav-holder .hamburger span {
  display: inline-block;
  height: 7px;
  width: 45px;
  position: relative;
  background-color: rgba(0, 0, 0, 1);
  border: 2px solid rgba(255, 255, 255, 1);
  transition: all 0.3s ease-in-out;
}
#header .nav-holder .hamburger span:before {
  display: inline-block;
  content: '';
  height: 3px;
  width: 41px;
  background-color: rgba(0, 0, 0, 1);
  border: 2px solid rgba(255, 255, 255, 1);
  position: absolute;
  top: -14px;
  left: -2px;
}
#header .nav-holder .hamburger span:after {
  display: inline-block;
  content: '';
  height: 3px;
  width: 41px;
  background-color: rgba(0, 0, 0, 1);
  border: 2px solid rgba(255, 255, 255, 1);
  position: absolute;
  top: 10px;
  left: -2px;
}
#header .nav-holder #menu {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  pointer-events: none;
  transition: all 0.3s ease-in-out 0.3s;
  background-color: rgba(0, 0, 0, 1);
}
#header .nav-holder #menu .menu {
  display: flex;
}
#header .nav-holder #menu .menu li {
  margin-right: 30px;
}
#header .nav-holder #menu .menu li a {
  display: inline-block;
  font-size: 21px;
  line-height: 75px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  text-decoration: none;
}
#header .nav-holder #menu .menu li:last-child {
  margin-right: 0;
}
#header .nav-holder #menu #search {
  display: none;
}
#header .nav-holder #menu .close {
  height: 35px;
  width: 45px;
  position: absolute;
  right: -100px;
  z-index: 9;
  top: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#header .nav-holder #menu .close span {
  position: relative;
  display: inline-block;
  height: 5px;
  width: 45px;
  transition: all 0.3s ease-in-out;
}
#header .nav-holder #menu .close span:before {
  display: inline-block;
  content: '';
  height: 4px;
  width: 45px;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0;
  transform: rotate(45deg);
}
#header .nav-holder #menu .close span:after {
  display: inline-block;
  content: '';
  height: 4px;
  width: 45px;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0;
  transform: rotate(-45deg);
}
#header .nav-holder.open-nav #menu {
  pointer-events: visible;
  left: 0;
  transition: all 0.3s ease-in-out;
}
#header .nav-holder.open-nav #menu .close {
  right: 15px;
  transition: all 0.3s ease-in-out 0.3s;
}
#container main article .header {
  display: none;
}
#container aside {
  display: none;
}
.entry-content {
  padding: 0 15px;
}
.entry-content > img.attachment-full {
  display: none !important;
}
.entry-content .container {
  max-width: 1280px;
  margin: 0 auto;
}
.entry-content .container.small {
  max-width: 800px;
}
.entry-content .container.centred * {
  text-align: center !important;
}
.section {
  padding: 60px 0;
}
.section-image.for-canvas {
  padding: 0;
  margin-top: -120px;
}
.section-image.for-canvas > div > div {
  padding-top: 0 !important;
}
.section-image.for-canvas .container {
  max-width: 100%;
}
.section-image.for-canvas .container img {
  width: 1440px;
}
.section-image.for-canvas .container.button-container {
  margin-top: 60px;
}
.section-image.for-canvas .container.button-container .wpb_column p {
  text-align: center;
}
.section-image.for-canvas .container.button-container .wpb_column p a.btn {
  font-size: 18px;
  line-height: 75px;
}
.section-image.for-canvas .container.button-container .wpb_column p a.btn:before {
  height: 73px;
}
.section-image.for-canvas .container.button-container .wpb_column:last-child a.btn {
  color: rgba(255, 255, 255, 1);
}
.section-image.for-canvas .container.button-container .wpb_column:last-child a.btn:before {
  width: calc(100% + 50px);
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 30px;
  transition: all 0.3s ease !important;
}
.section-image.for-canvas .container.button-container .wpb_column:last-child a.btn:hover {
  color: rgba(0, 0, 0, 1);
}
.section-image.for-canvas .container.button-container .wpb_column:last-child a.btn:hover:before {
  background-color: rgba(255, 255, 255, 1);
}
.section-intro.section-video {
  position: relative;
}
.section-intro.section-video .sidetext {
  margin-left: 40px;
  font-family: 'Work Sans';
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out 0.15s;
}
.section-intro.section-video .vc_video-bg::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.95);
}
.section-intro.section-video .vc_video-bg::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 150px;
  background: linear-gradient(transparent, white);
}
.section-intro.section-video .container {
  display: flex;
  justify-content: space-between;
}
.section-intro.section-video .container .text-column {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 350px;
}
.section-intro.section-video .scale-crown {
  transform: rotate(24deg) scale(1, 1);
}
.section-portfolio {
  position: relative;
}
.section-portfolio .portfolio-title {
  position: absolute;
  top: 390px;
  left: 0;
  transform: translateX(-59%) rotate(90deg);
}
.section-portfolio .portfolio-title h2 {
  font-size: 104px;
  color: rgba(0, 0, 0, 1);
  display: flex;
}
.section-portfolio .portfolio-title h2 span {
  font-size: 104px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  bottom: -75px;
  transition: all 0.3s ease 0.15s;
}
.section-portfolio .portfolio-title h2 span.show {
  bottom: 0;
}
.section-portfolio .left-portfolio-side {
  position: static;
}
.section-portfolio .left-portfolio-side > div {
  position: static;
}
.section-portfolio .left-portfolio-side > div > div {
  position: static;
}
.section-portfolio .left-portfolio-side > div, .section-portfolio .right-portfolio-side > div {
  padding-left: 0;
  padding-right: 0;
}
.section-portfolio .scratch-title {
  position: absolute;
  bottom: -120px;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 1);
  padding-top: 90px;
  padding-bottom: 60px;
  margin-bottom: 0;
}
.section-portfolio .scratch-title h2 {
  width: 49%;
  font-size: 142px;
  line-height: 116px;
  font-weight: normal;
  font-family: 'PT Sans Narrow';
}
.section-portfolio .scratch-title h2 span {
  position: relative;
  left: -200%;
  transition: all 0.3s ease-in-out;
}
.section-portfolio .scratch-title h2 span.swipe-in {
  left: 0;
}
.section-portfolio .scratch-title h2 span strong {
  font-family: 'Work Sans';
  font-weight: 900;
  position: relative;
  top: 6px;
  font-size: 130px;
  margin-left: -75px;
}
.section-portfolio .vc_grid-container .vc_pageable-slide-wrapper .vc_grid-item {
  transform: scale(0, 0);
  transform-origin: center;
  transition: all 0.3s ease;
}
.section-portfolio .vc_grid-container .vc_pageable-slide-wrapper .vc_grid-item.show-grid-item {
  transform: scale(1, 1);
}
.section-portfolio .vc_grid-container .vc_pageable-slide-wrapper .vc_grid-item .vc_grid-item-mini {
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in-out;
}
.section-portfolio .vc_grid-container .vc_pageable-slide-wrapper .vc_grid-item .vc_grid-item-mini .vc_gitem-zone-a {
  transition: all 0.3s ease-in-out;
  background-size: 100%;
}
.section-portfolio .vc_grid-container .vc_pageable-slide-wrapper .vc_grid-item .vc_grid-item-mini .vc_gitem-zone-c {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 30px;
  background-color: transparent !important;
}
.section-portfolio .vc_grid-container .vc_pageable-slide-wrapper .vc_grid-item .vc_grid-item-mini .vc_gitem-zone-c .vc_col-sm-12.vc_gitem-col.vc_gitem-col-align- {
  position: static;
}
.section-portfolio .vc_grid-container .vc_pageable-slide-wrapper .vc_grid-item .vc_grid-item-mini .vc_gitem-zone-c .vc_col-sm-12.vc_gitem-col.vc_gitem-col-align- .vc_gitem-post-data-source-post_categories {
  position: absolute;
  bottom: -100px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transition-delay: 0s;
  background-color: rgba(0, 0, 0, 1);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 7px;
  padding: 0 10px;
}
.section-portfolio .vc_grid-container .vc_pageable-slide-wrapper .vc_grid-item .vc_grid-item-mini .vc_gitem-zone-c .vc_col-sm-12.vc_gitem-col.vc_gitem-col-align- .vc_gitem-post-data-source-post_categories:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: rgba(0, 0, 0, 1);
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.section-portfolio .vc_grid-container .vc_pageable-slide-wrapper .vc_grid-item .vc_grid-item-mini .vc_gitem-zone-c .vc_col-sm-12.vc_gitem-col.vc_gitem-col-align- .vc_gitem-post-data-source-post_categories > div {
  margin-right: 10px;
  height: 30px;
  display: inline-flex;
  align-items: center;
}
.section-portfolio .vc_grid-container .vc_pageable-slide-wrapper .vc_grid-item .vc_grid-item-mini .vc_gitem-zone-c .vc_col-sm-12.vc_gitem-col.vc_gitem-col-align- .vc_gitem-post-data-source-post_categories > div span {
  font-size: 14px;
  font-family: 'Work Sans';
  display: inline-block;
  line-height: 14px;
  color: rgba(255, 255, 255, 1);
  padding-right: 10px;
  border-right: 2px solid rgba(255, 255, 255, 1);
}
.section-portfolio .vc_grid-container .vc_pageable-slide-wrapper .vc_grid-item .vc_grid-item-mini .vc_gitem-zone-c .vc_col-sm-12.vc_gitem-col.vc_gitem-col-align- .vc_gitem-post-data-source-post_categories > div:last-child {
  margin-right: 0;
}
.section-portfolio .vc_grid-container .vc_pageable-slide-wrapper .vc_grid-item .vc_grid-item-mini .vc_gitem-zone-c .vc_col-sm-12.vc_gitem-col.vc_gitem-col-align- .vc_gitem-post-data-source-post_categories > div:last-child span {
  padding-right: 0;
  border-right: none;
}
.section-portfolio .vc_grid-container .vc_pageable-slide-wrapper .vc_grid-item .vc_grid-item-mini .vc_gitem-zone-c:before {
  content: '';
  position: absolute;
  top: 200px;
  bottom: 200px;
  right: 200px;
  left: 200px;
  background-color: rgba(255, 255, 255, 0) !important;
  transition: all 0.3s ease-in-out;
}
.section-portfolio .vc_grid-container .vc_pageable-slide-wrapper .vc_grid-item .vc_grid-item-mini .vc_gitem-zone-c h4 {
  position: relative;
  font-family: 'Work Sans';
  font-size: 36px;
  line-height: 36px;
  font-weight: 900;
  color: rgba(0, 0, 0, 1);
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}
.section-portfolio .vc_grid-container .vc_pageable-slide-wrapper .vc_grid-item .vc_grid-item-mini .vc_gitem-zone-c p, .section-portfolio .vc_grid-container .vc_pageable-slide-wrapper .vc_grid-item .vc_grid-item-mini .vc_gitem-zone-c .vc_gitem-post-meta-field-beschrijving {
  position: relative;
  color: rgba(0, 0, 0, 1);
  font-size: 21px;
  transition: opacity 0.15s ease-in-out;
  opacity: 0;
  font-family: 'PT Sans Narrow';
  font-size: 16px;
  line-height: 18px;
}
.section-portfolio .vc_grid-container .vc_pageable-slide-wrapper .vc_grid-item .vc_grid-item-mini .vc_gitem-zone-c .vc_btn3-container {
  display: none;
}
.section-portfolio .vc_grid-container .vc_pageable-slide-wrapper .vc_grid-item:hover {
  transform: scale(1.1, 1.1);
}
.section-portfolio .vc_grid-container .vc_pageable-slide-wrapper .vc_grid-item:hover .vc_grid-item-mini {
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.15);
}
.section-portfolio .vc_grid-container .vc_pageable-slide-wrapper .vc_grid-item:hover .vc_grid-item-mini .vc_gitem-zone-a {
  background-size: 110%;
}
.section-portfolio .vc_grid-container .vc_pageable-slide-wrapper .vc_grid-item:hover .vc_grid-item-mini .vc_gitem-zone-c {
  background-color: rgba(255, 255, 255, 0) !important;
}
.section-portfolio .vc_grid-container .vc_pageable-slide-wrapper .vc_grid-item:hover .vc_grid-item-mini .vc_gitem-zone-c .vc_col-sm-12.vc_gitem-col.vc_gitem-col-align- .vc_gitem-post-data-source-post_categories {
  transition-delay: 0.45s;
  bottom: 0;
  opacity: 1;
}
.section-portfolio .vc_grid-container .vc_pageable-slide-wrapper .vc_grid-item:hover .vc_grid-item-mini .vc_gitem-zone-c:before {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6) !important;
}
.section-portfolio .vc_grid-container .vc_pageable-slide-wrapper .vc_grid-item:hover .vc_grid-item-mini .vc_gitem-zone-c h4 {
  opacity: 1;
  transition: opacity 0.3s ease-in-out 0.3s;
}
.section-portfolio .vc_grid-container .vc_pageable-slide-wrapper .vc_grid-item:hover .vc_grid-item-mini .vc_gitem-zone-c p, .section-portfolio .vc_grid-container .vc_pageable-slide-wrapper .vc_grid-item:hover .vc_grid-item-mini .vc_gitem-zone-c .vc_gitem-post-meta-field-beschrijving {
  opacity: 1;
  transition: opacity 0.3s ease-in-out 0.3s;
}
.section-about {
  height: 500px;
  position: relative;
}
.section-about#scratch-container {
  max-width: 1260px;
  margin: 60px auto;
  margin-bottom: 120px;
  margin-top: 120px;
}
.section-about#scratch-container > .vc_video-bg {
  border-radius: 50px;
}
.section-about#scratch-container > .vc_column_container {
  position: static;
}
.section-about#scratch-container > .vc_column_container > .vc_column-inner {
  position: static;
}
.section-about#scratch-container > .vc_column_container > .vc_column-inner > .wpb_wrapper {
  position: static;
}
.section-about canvas {
  position: absolute;
  left: -10px;
  right: 0;
  top: -10px;
  bottom: 0;
  z-index: 1;
  border: 10px solid rgba(0, 0, 0, 1);
  border-radius: 50px;
  cursor: move;
}
.section-about .container .intro-title {
  pointer-events: none;
}
.section-about .container .intro-title h2, .section-about .container .intro-title h3 {
  color: rgba(255, 255, 255, 1);
}
.section-about .container .intro-title h3 {
  font-family: 'PT Sans Narrow';
}
.section-about .container.button-container {
  position: absolute;
  bottom: -190px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.section-about .container.button-container .wpb_column p {
  text-align: center;
}
.section-about .container.button-container .wpb_column p a.btn {
  font-size: 18px;
  line-height: 75px;
}
.section-about .container.button-container .wpb_column p a.btn:before {
  height: 73px;
}
.section-about .container.button-container .wpb_column:last-child a.btn {
  color: rgba(255, 255, 255, 1);
}
.section-about .container.button-container .wpb_column:last-child a.btn:before {
  width: calc(100% + 50px);
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 30px;
  transition: all 0.3s ease !important;
}
.section-about .container.button-container .wpb_column:last-child a.btn:hover {
  color: rgba(0, 0, 0, 1);
}
.section-about .container.button-container .wpb_column:last-child a.btn:hover:before {
  background-color: rgba(255, 255, 255, 1);
}
.section-cool-filler {
  margin-top: 60px;
  height: 100vh;
  overflow: hidden;
}
.section-cool-filler h2 {
  color: rgba(255, 255, 255, 1);
  font-size: 118px;
  line-height: 118px;
  margin-bottom: 5px;
  position: relative;
  top: 15px;
  display: inline-block;
  left: 0;
  white-space: nowrap;
}
.section-cool-filler h2:nth-child(2n+2) {
  text-align: right;
  left: 35%;
  transform: translateX(-50%);
}
.section-workflow {
  padding-top: 180px;
}
.section-workflow .container.text-container {
  position: relative;
  top: -120px;
}
.section-workflow .container .step-column {
  padding-bottom: 30px;
  position: relative;
}
.section-workflow .container .step-column svg {
  font-family: FontAwesome;
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 5px solid rgba(0, 0, 0, 1);
  text-align: center;
  color: rgba(0, 0, 0, 1) !important;
  padding: 8px;
  border-radius: 50%;
}
.section-workflow .container .step-column:before {
  content: '';
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 5px;
  line-height: 40px;
  background-color: rgba(0, 0, 0, 1);
}
.section-workflow .container .step-column > div > div {
  border: 10px solid rgba(0, 0, 0, 1);
  border-radius: 50px;
  padding: 30px;
}
.section-workflow .container .step-column > div > div .subtitle {
  margin-bottom: 10px;
}
.section-workflow .container .step-column > div > div .subtitle h4 {
  font-size: 24px;
  line-height: 26px;
}
.section-workflow .container .step-column > div > div:before {
  content: '';
}
.section-workflow .container .step-column.left {
  position: relative;
  top: -90px;
  border-right: 10px solid rgba(0, 0, 0, 1);
}
.section-workflow .container .step-column.left > div:after {
  right: 90px;
}
.section-workflow .container .step-column.left:before {
  right: 0;
}
.section-workflow .container .step-column.left svg {
  right: 40px;
}
.section-workflow .container .step-column.left > div {
  padding-right: 120px;
}
.section-workflow .container .step-column.right svg {
  left: 40px;
}
.section-workflow .container .step-column.right > div {
  padding-left: 120px;
}
.section-workflow .container .step-column.step1 {
  padding-bottom: 90px;
}
.section-workflow .container.last-step .step-column.left {
  padding-bottom: 90px;
}
.section-detail .container.container-detail {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.section-detail .container.container-detail .client-title h2 {
  margin-bottom: 15px;
}
.section-detail .container.container-detail .client-title h1 {
  font-family: 'PT Sans Narrow';
  font-size: 34px;
  line-height: 36px;
  font-weight: normal;
}
.section-cta {
  background-color: rgba(0, 0, 0, 1);
}
.section-cta .slick-list {
  overflow: visible;
}
.section-cta .container {
  padding: 60px;
}
.section-cta .container h1, .section-cta .container h2, .section-cta .container h3, .section-cta .container h4, .section-cta .container h5, .section-cta .container h6, .section-cta .container p, .section-cta .container a {
  color: rgba(255, 255, 255, 1);
}
.section-cta .container a.btn:before {
  border-top: 2px solid rgba(255, 255, 255, 1);
  border-left: 2px solid rgba(255, 255, 255, 1);
  border-bottom: 2px solid rgba(255, 255, 255, 1);
  z-index: 1;
}
.section-cta .container a.btn:hover:before {
  border-right: 2px solid rgba(255, 255, 255, 1);
}
.section-cta .container.slick-container {
  max-width: 100%;
  position: relative;
}
.section-cta .container.slick-container .image {
  position: absolute;
  top: -60px;
  bottom: -60px;
  right: -15px;
}
.section-cta .container.slick-container .image > div {
  background-size: cover;
  background-position: center;
}
.section-cta .container.slick-container.slick-slide {
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.section-cta .container.slick-container.slick-slide.slick-active {
  opacity: 1;
}
span.white {
  color: rgba(255, 255, 255, 1);
}
.section-content {
  margin-bottom: 60px;
  position: relative;
}
.section-content .container .special-title.king h2 {
  color: rgba(255, 255, 255, 1);
}
.section-content .container .special-title.king h2 span {
  position: relative;
  display: inline-block;
  font-size: 126px;
  margin-top: 50px;
  margin-bottom: 40px;
}
.section-content .container .special-title.king h2 span img {
  position: absolute;
  width: 100px;
  height: auto;
  left: -52px;
  top: -100vh;
  opacity: 0;
  transform: rotate(1400deg);
  transition: opacity 0.15s ease, top 0.9s ease 0.15s, left 0.9s ease 0.15s, transform 0.9s ease 0.15s;
}
.section-content .container .special-title.king h2 span img.show-crown {
  opacity: 1;
  left: -55px;
  top: -51px;
  transform: rotate(-51deg);
}
.section-content + .section-content {
  margin-top: -90px;
}
.section-contact {
  overflow: hidden;
  position: relative;
}
.section-contact .container form .contactform {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 15px 0 15px;
}
.section-contact .container form .contactform .field {
  position: relative;
}
.section-contact .container form .contactform .field h4 {
  margin-bottom: 15px;
}
.section-contact .container form .contactform .field input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 7px;
  height: 50px;
  line-height: 50px;
  margin-bottom: 30px;
}
.section-contact .container form .contactform .field textarea {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 7px;
  margin-bottom: 30px;
}
.section-contact .container form .contactform .submit .wpcf7-submit {
  background-color: #bee5b0;
  border-radius: 7px !important;
  padding: 0 20px;
  box-shadow: none;
  left: 0;
  cursor: pointer;
}
.section-contact .background-contact .cloud-holder {
  position: absolute;
  top: 0;
  display: flex;
}
.section-contact .background-contact .cloud-holder img {
  max-width: 250px;
  margin-right: 200px;
  opacity: 0.5;
}
.section-contact .background-contact .cloud-holder img:nth-child(2n+1) {
  opacity: 0.75;
}
.section-contact .background-contact .cloud-holder:last-child {
  z-index: 9;
  left: -250px;
  top: 174px;
}
.section-contact .background-contact .cloud-holder:last-child img {
  opacity: 0.75;
}
.section-contact .background-contact .cloud-holder:last-child img:nth-child(2n+1) {
  opacity: 0.95;
}
.section-contact .background-contact .plane-holder {
  display: flex;
  position: relative;
  transform: rotateZ(-180deg) rotateX(180deg);
  transform-origin: left;
}
.section-contact .background-contact .plane-holder:after {
  background-color: rgba(0, 0, 0, 1);
  content: '';
  height: 12px;
  width: 125px;
  position: absolute;
  left: 330px;
  top: 50%;
  transform: translate(-50%);
  right: 0;
  border-radius: 100px;
}
.section-contact .background-contact .plane-holder img {
  max-width: 100px;
  margin-right: 100px;
}
.section-contact .background-contact .plane-holder img:first-child {
  max-width: 300px;
}
.section-contact .background-contact .plane-holder img:last-child {
  margin-right: 0;
}
.section-contact .background-contact .plane-holder.turn {
  transform: rotateZ(180deg) rotateY(180deg) rotateX(-180deg) translateX(-500px);
}
